
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Form -->
    <section class="">
      <form action="../complaint" method="post">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">

<div class="col-lg-6 col-sm-6 col-xs-12 position-stickey bottom-0 end-0">
<div class="contact-block">
<form   id="contactForm" novalidate="true" action= "../complaint" method="post">
<div class="row">
<div class="col-md-12">
<div class="form-group">
<input class="form-control" data-error="Please enter your name" id="name" name="name" placeholder="Your Name" required="" type="text">
<div class="help-block with-errors"></div>
</div>
</div>
<div class="col-md-12">
<div class="form-group">
<input class="form-control" data-error="Please enter your email" id="email" type="email"name="email" placeholder="Your Email" required="" type="text">
<div class="help-block with-errors"></div>
</div>
</div>
<div class="col-md-12">
<div class="form-group has-error">
<textarea class="form-control" data-error="Write your message" id="message" name="message"placeholder="Your Message" required="" rows="8"></textarea>

</div>
<div class="submit-button text-center my-3">
<button class="btn btn-light " id="submit" type="submit" style="pointer-events: all; cursor: pointer;">
Send Message
</button>
<div class="h3 text-center hidden" id="msgSubmit"></div>
<div class="clearfix"></div>
</div>
</div>
</div>
</form>
</div>
</div>
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white" href="http://www.nitjsr.ac.in">Nitjsr.com</a>
  </div>
  <!-- Copyright -->
</footer>
